In [ ]:
import pandas as pd

In [ ]:
#|---------------------------------------------------------------------------|#
#| CSV FILE
#|---------------------------------------------------------------------------|#

df = pd.read_csv('filename.csv')

In [ ]:
#|---------------------------------------------------------------------------|#
#| EXCEL FILE
#|---------------------------------------------------------------------------|#

df = pd.read_excel('filename.xlsx','sheetname')

In [ ]:
#|---------------------------------------------------------------------------|#
#| Python Dictionary
#|---------------------------------------------------------------------------|#

dict={
  'name':['yaksh','smit','riya'],
  'age':[18,30,28]
}
df=pd.DataFrame(dict)
df

In [ ]:
#|---------------------------------------------------------------------------|#
#| TUPLES LIST
#|---------------------------------------------------------------------------|#

l = [
  ('yaskh',18),
  ('smit',30),
  ('riya',28)
]
df=pd.DataFrame(l,columns=['name','age'])
df

In [ ]:
#|---------------------------------------------------------------------------|#
#| LIST WITH DICTIONARIES
#|---------------------------------------------------------------------------|#

l=[
  {'name': 'yaksh','age':18},
  {'name': 'smit','age':30},
  {'name': 'riya','age':28}
]
df = pd.DataFrame(l)
df